body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-bar-block .w3-bar-item {padding:20px}


.book-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}


.book-button:hover {
  background-color: #45a049;
}

.header {
	background:#b78727;
	padding:1.5rem 9%;
	display:flex;
	align-items: center;
	justify-content: space-between;
}
.home{
	background: url("back1.png") no-repeat;
	background-size: cover;
	background-position: center;
	
}